/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


header, #hero {
    text-align: left;
    margin-left: 119px;
    margin-right: 153px;
} 

header {
    margin-top: 65px;
    margin-right: 153px;
    height: 23px;
    width: 1005;
}

a {
    text-decoration: none;
}

#site {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #89C5CC;
    height: 22px;
    width:  103px;
    font-size: 22px;
    margin-right: 635px;
}

#left span {
    color: #89C5CC;
}

#home {
    color: #1F1534;
    font-weight: bold;
}

#sobre, #treinar, p {
    color:#7D7987;

}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    height: 112px;
    width: 489px;
}

#home, #sobre, #treinar {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    margin-right: 48px;

}

p {
    font-family: 'Open Sans', sans-serif;
    height: 84px;
    width: 438px;
}

button {
    font-family: 'DM Sans', sans-serif;
    width: 179px;
    height: 56px;
    background-color: #69B99D;
    border: none;
}

#left button span{
    color: white;
    font-weight: medium;
}

footer {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;

}

#left {
    height: 332px;
    width: 489px;
}

#fitness-jump {
    margin-left: 102px;
}